* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.cont {
  padding-right: 170px;
  padding-left: 152px;
  margin: auto;
}
.btn {
  border: none;
  border-radius: 6px;
  background: #35afbf;
  cursor: pointer;
  color: #fff;
}
